.pace {
    display: none;
}

.main-style {
    min-height: 100%;
    background: url(../img/cover/cover-scrum-board.png) no-repeat fixed;
    background-size: 360px;
    background-position: right bottom;
}

.rounded-xl{
    border-radius: 8px 8px 0px 0px;
}
h4{
    margin: 0;
}

#header{
    background: #0060cc;}

#header > div.navbar-header > a > small
{
    font-size: 10px;
    font-weight: 700;
    margin-top: -20px;
}

::-webkit-scrollbar{
    width: 4px;
}

::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,1);
    
}

.list-group-item-action:hover #deleteIcon i{
    display:block;
    
}

#deleteIcon i{
    display: none;
}

#deleteIcon i:hover{
    color:red;
}