.pace {
    display: none;
}

.main-style {
    min-height: 100vh;
    background: url(../img/cover/cover-scrum-board.png) no-repeat fixed;
    background-size: 360px;
    background-position: right bottom;
}

.rounded-xl{
    border-radius: 8px;
}
h4{
    margin: 0;
}

#header{
    background: #0060cc;}

#header > div.navbar-header > a > small
{
    font-size: 10px;
    font-weight: 700;
    margin-top: -20px;
}